body{
    font-family: 'DM Sans', sans-serif;
        font-family: 'Macondo', cursive;
        font-family: 'Poppins', sans-serif;
        margin: 0;
}
.banner{
    text-align: center;
    background-image: url(images/donation13.jpg);
    /* filter: blur(5px); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    padding-top: 3%;
}
.no-blur p{
    color: white;
}
h1{
    padding-top: 30px;
    font-size: 70px;
    font-weight: 700;
    color: white;
}
h2 {
    font-size: 50px;
}
p{
color:silver;
}
.button{
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 40px;
    background-color: lightgreen;
}

/* tk button */
.button-tk{
    padding: 30px 30px;
    margin-left: 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    font: bold;
}
.div-tk{
    display: flex;
    margin:5% 20%;
}
#color-button{
    background-color: rgb(245, 182, 157);
    border: 3px solid lightslategrey;
    color: lightslategray;
}
#donate-today-bg{
    background-color: antiquewhite;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 50px;
}
.donate-today{
    text-align: center;
    margin: 50px;
}
.other-amount{
    text-align: center;
    margin: 5%;
}
.other-amount-pading p{
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 3px solid silver;
    padding-bottom: 5px;
}
.button2{
    padding-top: 15px;
}
.food{
    display: flex;
    margin: 5%;
}
.food-family{
    margin: 1% ;
    padding: 30px;
    text-align: left;
}
.food-family h4{
    font-size: 25px;
}
.food-family p{
    color: rgb(94, 93, 93);
}
.div1{
    background-color: rgb(188, 233, 188);
}
.div2 {
    background-color: rgb(246, 196, 177);
}
.div3 {
    background-color: rgb(182, 223, 249);
}

/* form bar */
.form-email{
    margin: 5% ;       
}
.form-background-color {
    /* background-color: blanchedalmond; */
    margin-left: 20%;
    margin-right: 20%;
}
.form-design{
    padding: 30px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgba(170, 236, 120, 0.518);
    font-size: 17px;
    border-radius: 10px;
}
.form-design form{
    margin: 30px;
    text-align: center;
}
.form-design input{
    padding: 10px 50px;
    padding-left: 25px;
   background-color: rgb(196, 193, 193);
   border: none;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
}
.s-button{
    background-color: lightsalmon;
    padding: 10px 15px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}


/* footer */
.footer{
    background-color: black;
    margin-bottom: 0;
    text-align: center;
    padding: 2%;
}
.footer h5{
    color: orange;
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Macondo', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'The Nautigal', cursive;
}
.footer h6{
    color: aliceblue;
    margin-bottom: 0;
    padding-bottom: 1%;
    
}
